/* global styles */
.home-page{
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

html{
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

section {
  padding: 100px 0;
}

.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}


img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  font-family: 'Chivo Mono', monospace;
}

p {
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  line-height: 1.4rem;
  font-size: 1.5rem;
}

a {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}

@media only screen and (max-width: 768px) {
  section {
      padding: 50px 0;
  }
}

/* nav start */


/* header start */
.header-header{
  padding: 0 4.8rem;
  height: 6rem;
  background-color: rgb(38, 31, 31);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.sand-logo {
  height: 15rem;
}

@media only screen and (max-width: 500px){
  .sand-logo{
    height: 11rem;
  }
}

/* hero start */

#hero {
  padding-bottom: 5rem;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 3rem;
}

.hero-left-wrapper {
  max-width: 360px;
}

.hero-img-wrapper {
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
}

/* .hero-img-wrapper img {
  width: 400px;
} */

.hero-heading {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: rgb(87, 11, 11);
}

.hero-info {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  font-family: 'Quicksand', sans-serif;
}

.button-wrapper {
  text-align: center;
}

.primary-btn{
  background-color: goldenrod;
  color: rgb(38, 31, 31);
  font-family: 'Chivo Mono', monospace;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 15px;
  transition: 0.5s;
}

.primary-btn:hover{
  background: transparent;
  border: 1px solid rgb(38, 31, 31);
  color: rgb(38, 31, 31);
}

@media only screen and (min-width: 768px) {
  .hero-wrapper {
      flex-direction: row;
      gap: 0;
  }

  .hero-left {
      flex: 3;
  }

  .hero-right {
      flex: 4;
  }

  .hero-heading {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      text-align: left;
  }

  .hero-info {
      margin-bottom: 2rem;
      text-align: left;
  }

  .button-wrapper {
      text-align: left;
  }

  .hero-img-wrapper {
      max-width: none;
      width: 90%;
  }
}

/* welcome start */

.welcome {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  color: rgb(21, 19, 19);
  font-size: 2.5rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sub-heading {
  text-align: center;
  color: goldenrod;
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 2rem;
  background: rgb(44, 31, 31);
  display: inline-block;
}

.welcome .box-container {
  display: flex;
  gap: 1.5rem;
}

.welcome .box-container .box {
  width: 33%;
  background-color: rgb(38, 31, 31);
  color: white;
  text-align: center;
  padding-bottom: 1%;
}

.welcome .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  position: relative;
}

.content h3 {
  color: goldenrod;
}

.content p {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}


@media only screen and (max-width: 768px) {
  .welcome .box-container {
      flex-wrap: wrap;
  }

  .welcome .box-container .box {
      width: 100%;
  }

  .heading {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 1.5rem;
      color: black;
  }

  .sub-heading {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      text-align: center;
  }
}

/* chef start */

.our-team {
  padding: 5rem 9%;
}

.our-chef {
  display: flex;
  gap: 1.5rem;
}

.chef-item {
  width: 33%;
  background-color: rgb(38, 31, 31);
  color: white;
  text-align: center;
  padding-bottom: 1rem;
}

.chef-image {
  height: 20rem;
  overflow: hidden;
  position: relative;
}

.chef-info h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #e39c2d;
  font-size: 21px;
}

@media only screen and (max-width: 768px) {
  .our-chef {
      flex-direction: column;
  }

  .chef-item {
      width: 100%;
  }
}

/* service start */

.whyus-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.whyus-left{
  text-align: center;
}

.whyus-items-wrapper p{
  text-align: center;
}

.whyus-tittle{
  font-size: 1.8rem;
margin-bottom: 50px;
}

.whyus-text{
  font-family: 'Quicksand', sans-serif;
font-size: 17px;
}

.whyus-items-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.whyus-item{
  background: rgb(38, 31, 31);
  padding: 2rem;
  border-radius: 12px;
}

.whyus-item-icon{
  max-width: 56px;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: goldenrod;
}

.whyus-item-text{
  font-size: 15px;
  color: goldenrod;
}

@media only screen and (min-width: 768px){
  .whyus-wrapper{
      flex-direction: row;
      max-width: 900px;
      margin: 0 auto;
      margin-top: 6rem;
margin-bottom: 5rem;
  }
  .whyus-left{
      flex: 4;
  }
  .whyus-right{
      flex: 3;
  }
  .whyus-tittle{
      background: rgb(38, 31, 31);
      color: #cc9132;
      text-align: left;
      padding-left: 5px;
  }
.whyus-text{
  font-size: 1.2rem;
  text-align: left;
}

}

/* Footer Start */
footer {
  background-color: rgb(38, 31, 31);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-logo img {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-desc {
  margin-top: -40px;
  color: whitesmoke;
  margin-bottom: 2rem;
}

.footer-socials-tittle {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 1rem;
}

.footer-socials li {
  display: inline-block;
  margin-right: 0.5rem;
  list-style-type: none;
}

.footer-socials a {
  padding: 0.5rem 0.8rem;
  background: transparent;
  border: none;
}

.footer-socials a:hover {
  background-color: rgb(218, 236, 252);
  border: 1px solid grey;
  border-radius: 10px;
}

#facebook {
  color: blue;
}

#instagram {
  color: rgb(142, 1, 1);
}

#twitter {
  color: rgb(0, 229, 255);
}

.footer-text {
  list-style-type: none;
}

.footer-text-tittle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: whitesmoke;
}

.footer-text a {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: whitesmoke;
  font-weight: 500;
}

.footer-logo img {
  margin-left: -13px;
}

.another-footer {
  background-color: goldenrod;
  color: black;
  text-align: center;
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
  .footer-wrapper {
      flex-direction: row;
  }

  .footer-col1 {
      flex: 4;
  }

  .footer-col2,
  .footer-col3,
  .footer-col4 {
      flex: 2;
      margin-top: 50px;
  }

  .footer-logo img {
      margin-left: -14px;
  }
}

/* About Page Start */

.about-us-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.about-us-tittle{
  font-size: 1.8rem;
margin-bottom: 30px;
}

.about-us-text{
  font-family: 'Quicksand', sans-serif;
font-size: 17px;
}

@media only screen and (min-width: 768px){
  .about-us-wrapper{
      flex-direction: row;
      max-width: 900px;
      margin: 0 auto;
  }

  .about-us-text{
      font-size: 1.2rem;
  }

  .about-us-tittle{
      background: rgb(38, 31, 31);
      color: #cc9132;
      padding-left: 5px;
  }

  .about-us-left{
      flex: 4;
  }
  .about-us-right{
      flex: 3;
  }
}

/* contact page */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	width: 100%;
	min-height: 100vh;
}
.contact-container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 8%;
  background-color: #2e2e2e;
}
.contact-container .row{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
}
.row section.col{
	display: flex;
	flex-direction: column;
}
.row section.left{
	flex-basis: 35%;
	min-width: 320px;
	margin-right: 60px;
}
.row section.right{
	flex-basis: 60%;
}
section.left .contactTitle h2{
	position: relative;
	font-size: 28px;
	color: #ddd;
	display: inline-block;
	margin-bottom: 25px;
}
section.left .contactTitle h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	background-color: #888;
	top: 120%;
	left: 0;
}
section.left .contactTitle h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	background-color: goldenrod;
	top: calc(120% - 1px);
	left: 0;
}
section.left .contactTitle p{
	font-size: 17px;
	color: #ccc;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-bottom: 22px;
}
section.left .contactInfo{
	margin-bottom: 16px;
}
.contactInfo .iconGroup{
	display: flex;
	align-items: center;
	margin: 25px 0px;
}
.iconGroup .icon{
	width: 45px;
	height: 45px;
	border: 2px solid goldenrod;
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
}
.iconGroup .icon i{
	font-size: 20px;
	color: #ddd;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.iconGroup .details span{
	display: block;
	color: #888;
	font-size: 18px;
}
.iconGroup .details span:nth-child(1){
	text-transform: uppercase;
	color: #ccc;
}


/* Code for the right section (column) */

.row section.right .messageForm{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}
.row section.right .inputGroup{
	margin: 18px 0px;
	position: relative;
}
.messageForm .halfWidth{
	flex-basis: 48%;
}
.messageForm .fullWidth{
	flex-basis: 100%;
}
.messageForm input, .messageForm textarea{
	width: 100%;
	font-size: 18px;
	padding: 2px 0px;
	background-color: #2e2e2e;
	color: #ddd;
	border: none;
	border-bottom: 2px solid #666;
	outline: none;
}
.messageForm textarea{
	resize: none;
	height: 220px;
	display: block;
}
textarea::-webkit-scrollbar{
	width: 5px;
}
textarea::-webkit-scrollbar-track{
	background-color: #1e1e1e;
	border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb{
	background-color: dodgerblue;
	border-radius: 15px;
}
.inputGroup label{
	position: absolute;
	left: 0;
	bottom: 4px;
	color: #888;
	font-size: 18px;
	transition: 0.4s;
	pointer-events: none;
  padding-bottom: 20px;
}
.inputGroup:nth-child(4) label{
	top: 2px;
}
.inputGroup input:focus ~ label, .inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label, .inputGroup textarea:valid ~ label
{
	transform: translateY(-30px);
	font-size: 16px;
}
.inputGroup button{
	padding: 8px 16px;
	font-size: 18px;
	background-color: goldenrod;
	color: white;
	border: 1px solid transparent;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}
.inputGroup button:hover{
	background-color: #2e2e2e;
	color: goldenrod;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid goldenrod;
}
@media(max-width: 1100px){
	.messageForm .halfWidth{
		flex-basis: 100%;
	}
}
@media(max-width: 900px){
	.contact-container .row{
		flex-wrap: wrap;
	}
	.row section.left, .row section.right{
		flex-basis: 100%;
		margin: 0px;
	}
}

/* book table */
.banner{
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./imageSrc/breadbg.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 8%;
  height: 100vh;
}
.card-container{
  display: grid;
  grid-template-columns: 420px 420px;
}
.card-img{
  background: url("./imageSrc/sandbook.jpg") center/cover no-repeat;
}
.banner h2{
  padding-bottom: 40px;
  margin-bottom: 20px;
}
.card-content{
  background: #fff;
  height: 330px;
}
.card-content h3{
  text-align: center;
  color: #000;
  padding: 25px 0 10px 0;
  font-size: 26px;
  font-weight: 500;
}
.form-row{
  display: flex;
  width: 90%;
  margin: 0 auto;
}
form select, form input{
  display: block;
  width: 100%;
  margin: 15px 12px;
  padding: 5px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  border-bottom: 1px solid #eee;
  font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
  color: #9a9a9a;
}
form input[type = submit]{
  color: #fff;
  background: #f2745f;
  padding: 12px 0;
  border-radius: 4px;
  cursor: pointer;
}
form input[type = submit]:hover{
  opacity: 0.9;
}
@media(max-width: 950px){
  .card-container{
    grid-template-columns: 100%;
      width: 100vw;
  }
  .banner{
    height: 125vh; 
  }
  .card-img{
      height: 330px;
  }
}

/* cuisine start */
.cuisine{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
 
.home-container{
  padding: 2rem 4rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.product{
  width: 250px;
  max-width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  margin-bottom: 5rem;
}

.product img {
  width: 100%;
  height: 169px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.product-article{
  margin-top: 4rem;
}

.product h3{
  text-transform: uppercase;
}

.desc{
  font-size: 13px;
}

.price{
  font-size: 20px;
  font-weight: 600;
  margin-top: 1rem;
}

.cuisine-button{
  margin-top: 1rem;
  width: 100%;
  padding: 9px;
  border-radius: 20px;
  background: #1e1e1e;
  color: rgb(255, 217, 0);
  border: none;
  cursor: pointer;
  letter-spacing: 3px;
}

.cuisine-button:hover{
  background: goldenrod;
  color: white;
}

@media only screen and (max-width: 1257px){
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media only screen and (max-width: 968px){
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media only screen and (max-width: 683px){
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

/* Cart */
.cart-container {
  padding: 2rem 4rem;
}
.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-bottom: 4rem;
    margin-top: 2rem;
}
.cart-container .titles {
  margin: 2rem 0 1rem 0;
}
.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}
.cart-container .titles .product-title {
  padding-left: 0.5rem;
}
.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}
.cart-item .cart-product {
  display: flex;
}
.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-item .cart-product h3 {
  font-weight: 400;
  text-transform: uppercase;
}
.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}
.cart-item .cart-product button:hover {
  color: black;
}

.cart-item .cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}
.cart-item .cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.cart-item .cart-product-quantity .count {
  padding: 0.7rem 0;
}
.cart-item .cart-product-total-price {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
}
.in-dec-btn:hover{
  color: rgb(255, 0, 47);
}

/* cart summary */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cart-summary .clear-cart {
  width: 130px;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(28, 24, 5);
  color: whitesmoke;
  letter-spacing: 2px;
  transition: 0.5s;
}
.cart-summary .clear-cart:hover{
  background: transparent;
  border: 1px solid black;
  color: rgb(28, 24, 5);
}
.cart-checkout {
  width: 270px;
  max-width: 100%;
}
.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.cart-checkout .amount {
  font-weight: 700;
}
.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}
.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(28, 24, 5);
  color: whitesmoke;
  letter-spacing: 2px;
  transition: 0.5s;
}
.cart-checkout button:hover{
  background: transparent;
  border: 1px solid black;
  color: rgb(28, 24, 5);
}
.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
  color: rgb(223, 170, 34);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.continue-shopping a:hover{
  color: #cc9132;
}

.start-shopping a:hover{
  color: #cc9132;
}

.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15vh;
    justify-content: center;
}

@media only screen and (max-width: 665px){
  .cart-container {
    padding: 2rem;
  }
  .cart-container .titles {
    display: none;
  }
  .cart-item,
  .cart-container .titles {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .cart-item .cart-product-total-price {
    justify-self: left;
  }
  .cart-summary {
    flex-direction: column;
  }
  .cart-summary .clear-cart {
    margin-bottom: 2rem;
  }
}